body{
    background-color: rgb(70,130,180);
    font-family: Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
}

h1{
    background-color: white;
    padding: 30px;
    margin-bottom: 15px;
    font-size: 35px;
        padding: 45px 35px;
        margin: 0;
}

.section-button{
    display: block;
    text-decoration: none;
    background-color:white;
    color: black;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding: 50px;
    margin: 15px 25px
}

.section-button:hover{
    background-color: rgb(205, 205, 205);
}

@media screen and (max-width:440px){
    body{
        margin:0;
        padding:0;
    }

    h1{
        font-size:24px;
        padding: 25px 15px;
        margin: 0 0 15px 0;
        text-align: center;
    }

    .section-button{
        width:85%;
        margin:20px;
        padding: 30px 5px;
        font-size: 20px;
    }
}